.cursor-pointer {
  cursor: pointer !important;
}

.bg-light {
  background-color: #e9ecef !important;
}

.image-custom-gioi-thieu {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-custom-dich-vu {
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-custom-cam-nang {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-slider {
  width: 100%;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.width-20 {
  width: 20px;
}

.width-250 {
  width: 250px;
}

.width-270 {
  width: 270px;
}

.width-500 {
  width: 500px;
}

.width-540 {
  width: 540px;
}

.m-10 {
  margin: 0 10px;
}