.logo {
  width: 210px;
  height: 38px;
}

.logo-custom {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li.nav-item {
  font-size: 14px;
  .dropdown-content {
    display: none;
  }
  &:hover {
    background-color: #cdd3d8;
    .dropdown-content {
      display: block;
    }
  }
}

.dropdown-content {
  position: absolute;
  background-color: #e9ecef;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  .nav-children-item {
    padding-left: 15px;
    border-bottom: 1px solid #adb5bd;
    &:hover {
      background-color: #cdd3d8;
    }
  }
  .nav-children-item:last-child {
    border-bottom: none;
  }
}

.active {
  background-color: #cdd3d8;
}

.color-navbar {
  color: #495057!important;
}